:root {
    --font-family: verdana;
    --font-color: rgb(0, 44, 4);

}

html, body {
    font-family: verdana;
    margin: 0;
    padding: 0;
}

#school_logo {
    position: absolute;
    width: 7vw;
    height: --school_logo-width;
    top: 0;
    left: 0;
    border: 1px black;
}

#club_logo {
    width: 7vw;
    height: --club_logo-width;
    position: absolute;
    top: 0;
    left: 91vw;
}

#club_logo_text {
    width: 12vw;
    height: 1vh;
    position: absolute;
    top: 15vh;
    left: 88vw;
}

header > h1 {
    font-family: var(--font-family);
    color: var(--font-color);
    text-align: center;
    font-size: 44px;
}

header > h2 {
    font-family: var(--font-family);
    color: var(--font-color);
    text-align: center;
    font-size: 30px;
}

div#loading_box {
    padding: 2vw;   
    font-size: 1vh;
    text-align: center;
}

div#grid_container {
    --rows-count: repeat(1, 1fr); --column-count: repeat(1, 1fr);
    --grid-container-width: 70vw;
    --grid-container-height: 70vh;

    position: absolute;

    left: 3vw; /*calc(50vw - (var(--grid-container-width)/2));*/
    top: 16vh; /*calc(50vh - (var(--grid-container-height)/2));*/

    width: var(--grid-container-width);
    height: var(--grid-container-height);

    grid-template-columns: var(--columns-count);
    grid-template-rows: var(--rows-count);

    display: grid;
    overflow: hidden;

    border: 1px solid black;
}

div#grid_container > .locker-button {
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;

    font-family: var(--font-family);
    font-size: 16px;
}
div#grid_container > .locker-button:hover {
    filter: brightness(0.9);
}

h3 {
    font-size: 18;
    line-height: 0;
}

div#formbox {
    position: absolute;
    left: 76vw;
    top: 20vh;

    width: 21vw;
    height: 65vh;

    border: 2px solid black;
    padding: 1vh;

    font-size: 14px;
    line-height: 20px;
}

footer {
    --footer-height: 60px;

    position: absolute;
    left: 0; top: calc(100vh - var(--footer-height));

    height: var(--footer-height);
    width: 100vw;

    background-color: var(--font-color);
}

footer > nav > button[aria-disabled=false] {
    border: none;
    background-color: var(--font-color);
    color: white;   
    
    font-size: 24px;
    font-family: monospace;
    text-align: center;

    user-select: none;
}
footer > nav > button[aria-disabled=false]:hover {
    background-color: rgb(0, 83, 7);
}
footer > nav > button[aria-disabled=true] {
    pointer-events: none;
    visibility:hidden;
}
footer > nav {
    --button-width: 70px;

    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: var(--button-width) 1fr var(--button-width);
}

footer > nav > div#between > p#section-info-text {
    color: white;
    font-family: monospace;

    user-select: none;

    font-size: 18px;
    text-align: center;
}