:root {
    --font-family: calibri;

    --banner-background: linear-gradient(to right,#ff4e50,#f9d423);

    --banner-font-size: 64px;
    --banner-font-weight: 200; /* thin */
    --banner-text-color: white;

    --banner-height: 30vh;

    --information-font-size: 16px;
    --information-font-weight: 200; /* thin */

    --reserve-font-size: 36px;
    --reserve-font-weight: 200; /* thin */
}

html,body {
    /* Default settings */
    margin: 0;
    padding: 0;
}

header {
    /** Place holder background */
        background: var(--banner-background); 
        height: auto;
}
header:nth-child(1) {
    font-family: var(--font-family);
    font-weight: var(--banner-font-weight);

    /* text-align: right; */
    color: white;

    margin: 0; padding: 0;
    padding-bottom: 0.1vh;
}


header>p.title {
    margin: 0;
    
    font-family: var(--font-family);
    font-weight: var(--banner-font-weight);
    font-size: var(--banner-font-size);
    text-align: center;
    
    padding-top: calc((var(--banner-height) - var(--banner-font-size))/2);

    color: var(--banner-text-color);
}



.information /* The device is a mobile or smt */
{
    width: 90vw;
    padding-left: 5vw;
}

.information>.information-container>.information-part>p
{
    font-family: var(--font-family);
    font-size: var(--information-font-size);
    font-weight: var(--information-font-weight);
    text-align: left;
}

@media only screen and (min-width: 600px) /* The device is a computer */
{
    .information
    {
        width: 75vw;
        padding-left: 12.5vw;
    }

    .information>.information-container>.information-part>p
    {
        font-family: var(--font-family);
        font-size: var(--information-font-size);
        font-weight: var(--information-font-weight);
        text-align: left;
    }
}

.information
{
    margin-top: 10vh;
}


button /* The device is a mobile or smt */
{
    margin: 0; padding: 0;
    margin-top: 20vh;
    margin-bottom: 5vh;
    margin-left: calc(100vw/2 - 70vw/2);

    width: 70vw;
}
@media only screen and (min-width: 600px) /* The device is a computer */
{
    button
    {
        margin: 0; padding: 0;
        margin-top: 20vh;
        margin-bottom: 5vh;
        margin-left: calc(100vw/2 - 15vw/2);

        width: 15vw;
    }
}

button
{
    height: calc(10vh + var(--reserve-font-size));
    /* max-height: 20vh; */

    font-size: var(--reserve-font-size);
    font-family: var(--font-family);
    font-weight: var(--reserve-font-weight);
    
    background: var(--banner-background) !important;
    transition: 0.1s;
    color: white;


    border: none;
    border-radius: 6px;
    background: none;
}
button:hover
{
    transform: scale(0.9, 0.9); /* Reduce width and height by 10% (0.1) */
}


.information-container /* device is a mobile or smt */
{
    display: grid;
    grid-template-rows: auto auto;

    margin-bottom: 50px;
}
.information-container>svg
{
    margin:0; padding: 0;
    margin-bottom: 40px;

    margin-left: auto; margin-right: auto; /* centering horizontally */
}
@media only screen and (min-width:800px) /* device is a computer */
{
    .information-container
    {
        display: grid;
        grid-template-columns: auto auto;
    }

    .information-container>svg
    {
        margin:0; padding: 0;
        margin-right: 40px;

        margin-top: auto; margin-bottom: auto; /* centering vertically */
    }
}